<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DOVAL</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="left">
        <div class="features">
            <div class="titlebar">
                Features
            </div>
            <div class="content">
                <ul>
                    {% if filename %}
                        {% for feature in features %}
                        <li><a href="#">{{feature}}</a></li>
                        {% endfor %}
                    {% else %}
                    <li><a>No file selected</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="samples">
            <div class="titlebar">
                Samples
            </div>
            <div class="content">
                <ul>
                    {% if filename %}
                        {% for feature in features %}
                        <li><a href="#">{{feature}}</a></li>
                        {% endfor %}
                    {% else %}
                    <li><a>No file selected</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="plot_opts">
            {{filename}}
        </div>
        <div class="visual_holder">
            {% block visual %}
            {% endblock %}
        <!--{% if filename %}
            {{shortfile | safe }}
            <span>{{ datadescription | safe }}</span>
        {% else %}
            <form method="post" action="/uploadsuccess" enctype="multipart/form-data" class="dropzone">
                {% csrf_token %}
                <input type="file" name="document">
                <button type="submit">upload file</button>
            </form>
        {% endif %}-->
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!--script src="{% static 'js/dropzone.js' %}"></script-->
    <script src="{% static 'js/custom.js' %}"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>