<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DOVAL</title>
    {% block js-top %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="left">
        <div class="features">
            <div class="titlebar">
                Features
            </div>
            <div class="content">
                {% block features %}
                <ul>
                    {% if filename %}
                        {% for feature in features %}
                        <li><a href="#">{{feature}}</a></li>
                        {% endfor %}
                    {% else %}
                    <li><a>No file selected</a></li>
                    {% endif %}
                </ul>
                {% endblock %}

            </div>
            <div class="update-cont">
                <div class="update-vis" href="{% url 'dashboard:multiupdate' %}">Update parameters</div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="plot_opts">
            {% block plot_opts %}
            {% endblock %}
        </div>
        <div class="visual_holder">
            {% block visual %}
            {% endblock %}
        </div>
        {% block below_vis %}
        {% endblock %}
    </div>
    {% block modal %}
    {% endblock %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    {% block javascript %}
    {% endblock %}
    <span class="scripttags"></span>
</body>
</html>