{% extends 'pages/dashboard.html' %}

{% load static %}

{% block js-top %}
{{ resource | safe }}
{% endblock %}

{% block javascript %}
{{ script | safe }}
{% endblock %}

{% block visual %}
  <!--<div class="layout">-->
      <h2 class="text-center mtop">Please select features to visualise by clicking on them.</h2>
      <!--a href="/start" class="btn-upload">Back</a-->
  <!--</div>-->
{% endblock %}

{% block features %}
<ul>
    {% for feature in features %}
    <li><a href="{% url 'dashboard:key_selection' key=feature %}">{{feature}}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block samples %}
<ul>
    {% for sample in samples %}
    <li><a href="{% url 'dashboard:samp_selection' sample=sample %}">{{sample}}</a></li>
    {% endfor %}
</ul>
{% endblock %}