{% extends 'pages/dashboard.html' %}

{% load static %}

{% block js-top %}
<!--{{ resource | safe }}-->
<link rel="stylesheet" href="{% static 'css/canvasXpress.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.modal.min.css' %}">
<script src="{% static 'js/canvasunminified.js' %}"></script>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.modal.min.js' %}"></script>
<!--{{ script | safe }}-->
{% endblock %}


{% block plot_opts %}
<div class="btn-box">
    <div class="btn-opt" type="Boxplot">Boxplot 1D</div>
    <div class="btn-opt" type="Scatter">Scatter 2-3D</div>
    <div class="btn-opt" type="Heatmap">Heatmap</div>
    <div class="btn-opt" type="Line">Line</div>
    <div class="token">{{ csrf_token }}</div>
</div>
<div class="funct-bar">

</div>
{% endblock %}

{% block visual %}
    <div class="visual-table">

    </div>
    <div class="visual-graph">
        <div class="canvascont">
            <canvas id="canvas" responsive='true'>    <!--canvas id='bar1' width='290' height='540' ></canvas-->

                <h2 class="text-center mtop">Please select features to visualise by clicking on them.</h2>
            </canvas>
        </div>
        <div class="tablebox">
            <div class="table-headers">
                <a class="btn subst-btn"  href="#ex2" rel="modal:open">Subset data</a>
                <a class="funct btn" href="#ex1" rel="modal:open">Annotate features</a>
            </div>
            <div class="p-table">

            </div>
            <div class="d-table">
                {{datatable | safe}}
            </div>
        </div>
    </div>
{% endblock %}
{% block below_vis %}
    <a href="/start" class="btn-upload">Back</a>
{% endblock %}

{% block features %}
<ul>
    {% for feature in features %}
    <li><a href="#" value="{{ feature }}">{{feature}}<span class="inline-marker"></span></a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block modal %}
<div id="ex1" class="modal annotate">
  <p>Add information about your features below.</p>
  <div class="annotate-fields">

  </div>
  <a href="#" class="save-anot btn" rel="modal:close">Save and close</a><a href="#" rel="modal:close" class="btn">Back</a>
</div>
<div id="ex2" class="modal subset">
  <div class="subset-left">
      <span class="sbst-left-title">Graphical selection (total samples n=<span class="samp-n"></span>)</span>
      <div class="selectionvis" id="selectvis">

      </div>
      <div class="rnd-smps">
          <label>Random selection: </label>
          <input type="text" class="rnd-input" value="0">
      </div>
  </div>
  <div class="results">
      <div class="result-title">
          Selected subset (n=<span class="resultlen"></span>):
      </div>
      <div id="select-result"></div>
  </div>
  <a href="#" class="btn" rel="modal:close">Update and close</a><a href="#" rel="modal:close" class="btn">Back</a>
</div>
{% endblock %}